%div
	- first_name = @person["first_name"]
	- last_name = @person["last_name"]
	%p= "Hello #{first_name} #{last_name}"
	- first_name = @deleted_person["first_name"]
	- last_name = @deleted_person["last_name"]
	%p= "Please notice that #{first_name} #{last_name} has left the application"
	%p Do not worry, the system will continue working.
	%p Regards,
	%p People System